body{
    background-color: rgb(18, 2, 40);
    color: white;
    font-family: monospace;
}

h1{
    font-size: 40px;
}

.teste{

    font-style: italic;
    background-color: blueviolet;
}

#PT{
    background-color: red;
    font-style: italic;

}